@import '../variables.scss';

$brand-color: #61dafb;

@mixin icon-btn($icon-url) {
	border: 0;
	background: transparent;
	font-size: 0;

	&:before {
		display: inline-block;
		width: 30px;
		height: 30px;
		background-image: url($icon-url);
		background-repeat: no-repeat;
		background-size: contain;
		content: '';
	}
}

.root {
  background: $background;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
  margin: 0 auto;
  padding: 20px 0;
  max-width: $max-content-width;
	background-color: $highlight;
	color: $white;
	height: 30px;
}

.back_btn {
		@include icon-btn('./back.svg');
}

.message_btn {
		@include icon-btn('./mail.svg');
}

.profile_btn {
		@include icon-btn('./user.svg');
}
